@font-face {
src: url(fonts/Lalezar-Regular.ttf);
}
.classy-button {
    -fx-font-family: 'Lalezar';
    -fx-background-color: #2c3e50;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-background-radius: 0%;
    -fx-cursor: hand;
}

.classy-button:hover {
    -fx-background-color: #34495e;
}

.classy-button:pressed {
    -fx-background-color: #1abc9c;
}
